/* Container Styling */
.home-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  background-color: rgb(196, 249, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Title Styling */
.home-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* Section Styling */
.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.home-section h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Input Styling */
input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  transition: border 0.3s ease-in-out;
}

input:focus {
  border: 1px solid #007bff;
  outline: none;
}


.btn {
  width: 95%;
  padding: 10px;
  margin-top: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn:hover {
  background: #0056b3;
}
